/* //1280x900 */
body {
  margin: 0%;
  background-color: #e9edee;
}

header {
  background-color: #232f3e;
}
.logo {
  height: 50px;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.menu {
  margin: 0%;
  background-color: #35475a;
  height: 40px;
}
.menu a {
  color: #edf8ff;
  text-decoration: none;
  padding-right: 10px;
  margin: 5px;
  font-size: x-large;
  margin-left: 30px;
}
main {
  text-align: center;
  width: 100%;
  margin: 30px;
}
.orangebox {
  background-color: #f56600;
  margin: 40px;
  height: 50px;
}
.orangebox p {
  color: #edf8ff;
  text-align: center;
  font-size: x-large;
  padding-top: 10px;
}
.Gift {
  background-image: url(assets/bg-img.png);
  background-repeat: repeat-y;

  height: 200px;

  margin: 40px;
  color: white;
  vertical-align: auto;
}
h1 {
  padding-top: 60px;
}
h3 {
  font-size: large;
}

.kindley {
  background-image: url(assets/img_1.jpg);
  background-size: cover;
  background-position: left;
  border-radius: 10%;
}
.computer {
  background-image: url(assets/img_2.jpg);
  background-size: cover;
  background-position: left;
  border-radius: 10%;
}
.watch {
  background-image: url(assets/img_3.jpg);
  background-size: cover;
  background-position: left;
  border-radius: 10%;
}

.pet {
  background-image: url(assets/img_4.jpg);
  background-size: cover;
  background-position: left;
  border-radius: 10%;
}

.blockimg div {
  width: 250px;
  min-height: 350px;
  display: inline-block;
}
.blockimg div {
  margin-right: 30px;
  margin-left: 20px;
  box-shadow: 12px 3px 10px #777c8143;
  background-position: left;
}
text {
  text-align: left;
  display: block;
  font-size: x-large;
  margin: 20px;
}
.blockimg p {
  display: inline-block;
}
.blockimg a,
.visore a {
  color: #267c86;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  margin-left: 15px;
}
.blockimg {
  border: 1px solid #e9edee;
  background-color: white;
  display: inline-block;
  height: 440px;
}
.visore img,
.music img {
  margin-top: 30px;
  max-height: 350px;
  width: 100%;
}
.visore {
  margin: 30px;
}
.visore p,
.music p {
  font-size: large;
  margin-top: 3px;
}
footer {
  background-color: #35475a;
  min-height: 40px;
}
footer p {
  padding-top: 8px;
  text-align: center;

  color: white;
}
footer p a {
  color: #e9edee;
}
.fine {
  background-color: #232f3e;
  text-align: center;
}
